In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [47]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [49]:
X = df[["Glucose","BloodPressure", "Insulin"]]
X.head()

   Glucose  BloodPressure  Insulin
0      148             72        0
1       85             66        0
2      183             64        0
3       89             66       94
4      137             40      168

In [50]:
y = df["Outcome"]
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [51]:
minMaxScaler = MinMaxScaler()
X_scaled = pd.DataFrame(minMaxScaler.fit_transform(X), columns=X.columns)

In [52]:
X_scaled.head()

    Glucose  BloodPressure   Insulin
0  0.743719       0.590164  0.000000
1  0.427136       0.540984  0.000000
2  0.919598       0.524590  0.000000
3  0.447236       0.540984  0.111111
4  0.688442       0.327869  0.198582

In [53]:
df_final = X_scaled.join(y)
df_final.head()

    Glucose  BloodPressure   Insulin  Outcome
0  0.743719       0.590164  0.000000        1
1  0.427136       0.540984  0.000000        0
2  0.919598       0.524590  0.000000        1
3  0.447236       0.540984  0.111111        0
4  0.688442       0.327869  0.198582        1

In [ ]:
import time
import paho.mqtt.client as mqtt

# We create a client as the data publisher
mqttc = mqtt.Client()
# We are connecting to port 1883 and set *keepalive* parameter to 60; *keepalive* is the maximum waiting time in seconds.
mqttc.connect("mqtt.eclipseprojects.io", 1883, 60)

# We send the following readings repeatedly. Once we reach the end, we start from the beginning again.
#data = [-10, -8, -7, -5, -2, 0, 1, 3, 5, 6, 7, 13, 15, 17, 20, 22, 25]
period = len(df_final)

if __name__ == "__main__":
    print("Publishing...")
    
    index = 0
    while (index >= 0):
        # Get the current data reading to send out
        record = df_final.iloc[index % period].to_json()
        
        # Publish the data reading as 'myroom/temperature'
        #Publisher is open to all! Make sure use your own ‘Data name’ in your exercise of Publisher/Subscriber
        mqttc.publish("myroom/jacob", str(record))
        
        # We send the next reading after 2 seconds
        time.sleep(0.001)
        index = index + 1

Publishing...