# Exercises in Recommender systems

This notebook contains exercises in Recommender systems

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

## Exercise 1

Using the "Coursera Courses Dataset 2021" available at kaggle ([https://www.kaggle.com/datasets/khusheekapoor/coursera-courses-dataset-2021](https://www.kaggle.com/datasets/khusheekapoor/coursera-courses-dataset-2021)) or on moodle, to do the following:

1. Create a Content-based filtering recommender system based on the Course Descriptions.
2. Create a Content-based filtering recommender system based on the Skills.

Using the "Book Recommendation Dataset" available at kaggle ([https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset](https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset)) or on moodle, to do the following:

3. Load in the `Ratings.csv` file (on moodle, it is called `Books_Ratings.csv`). Group by `User-ID` and sort by `Book-Rating` in descending order to get the users who rated most books. Filter the rating data to only contain the 200 users that rated most books.
4. Create a Collaborative filtering recommender system based on the user ratings from 3 together with the `Books.csv` dataset.

1. Create a Content-based filtering recommender system based on the Course Descriptions.

In [2]:
courses = pd.read_csv("Coursera.csv")
courses.head(2)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...

In [3]:
courses["Course Description"].head()

0    Write a Full Length Feature Film Script  In th...
1    By the end of this guided project, you will be...
2    This course consists of a general presentation...
3    When it comes to numbers, there is always more...
4    In this course you�ll learn how to effectively...
Name: Course Description, dtype: object

In [4]:
courses["Course Description"].isna().sum()

np.int64(0)

In [5]:
tfidf = TfidfVectorizer(stop_words="english")

In [6]:
tfidf_matrix = tfidf.fit_transform(courses["Course Description"])

In [7]:
tfidf_matrix.shape

(3522, 20074)

In [8]:
tfidf_matrix.toarray()[1, :]

array([0., 0., 0., ..., 0., 0., 0.], shape=(20074,))

In [9]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 253718 stored elements and shape (3522, 20074)>

In [10]:
%%time
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

CPU times: total: 250 ms
Wall time: 255 ms

# Since you have used the TF-IDF vectorizer, calculating the dot product between each vector will directly give you the cosine similarity score. Therefore, you will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.

In [11]:
##from sklearn.metrics.pairwise import linear_kernel

In [12]:

# %%time
# cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [13]:
cosine_sim

array([[1.00000000e+00, 3.12366523e-02, 1.97603991e-02, ...,
        3.17538002e-02, 3.33859933e-02, 1.96231367e-02],
       [3.12366523e-02, 1.00000000e+00, 8.58915185e-03, ...,
        3.13671991e-02, 4.88239107e-03, 4.56033552e-02],
       [1.97603991e-02, 8.58915185e-03, 1.00000000e+00, ...,
        3.45669421e-03, 1.65197252e-02, 6.37237740e-03],
       ...,
       [3.17538002e-02, 3.13671991e-02, 3.45669421e-03, ...,
        1.00000000e+00, 5.07544593e-04, 6.72367274e-03],
       [3.33859933e-02, 4.88239107e-03, 1.65197252e-02, ...,
        5.07544593e-04, 1.00000000e+00, 1.14068789e-03],
       [1.96231367e-02, 4.56033552e-02, 6.37237740e-03, ...,
        6.72367274e-03, 1.14068789e-03, 1.00000000e+00]],
      shape=(3522, 3522))

Matrix is symmetric:

In [14]:
cosine_sim[0, 1]

np.float64(0.0312366522978012)

In [15]:
cosine_sim[1, 0]

np.float64(0.0312366522978012)

Reverse map of index index to Course Names

In [16]:
indices = pd.Series(courses.index, index=courses["Course Name"]).drop_duplicates()

The below shows that similarity score from "cosine_sim[0, 1]" is the similarity between courses Write a Feature.... and Business Strategy....

In [17]:
indices[0:5]

Course Name
Write A Feature Length Screenplay For Film Or Television       0
Business Strategy: Business Model Canvas Analysis with Miro    1
Silicon Thin Film Solar Cells                                  2
Finance for Managers                                           3
Retrieve Data using Single-Table SQL Queries                   4
dtype: int64

In [18]:
def get_recommendations(course_name, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[course_name]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return courses["Course Name"].iloc[movie_indices]

In [19]:
get_recommendations("Write A Feature Length Screenplay For Film Or Television")

1481    Script Writing: Write a Pilot Episode for a TV...
1629                               Write Your First Novel
3481                                   Transmedia Writing
2186         Presentation skills: Public Speaking Project
3445                   Better Business Writing in English
3384              English for Effective  Business Writing
2894    Automating Team Communication with Google Shee...
614                      Writing in English at University
2732    Writing Professional Email and Memos (Project-...
104                                      Business Writing
Name: Course Name, dtype: object

2. Create a Content-based filtering recommender system based on the Skills.

In [20]:
courses["Skills"].head()

0    Drama  Comedy  peering  screenwriting  film  D...
1    Finance  business plan  persona (user experien...
2    chemistry  physics  Solar Energy  film  lambda...
3    accounts receivable  dupont analysis  analysis...
4    Data Analysis  select (sql)  database manageme...
Name: Skills, dtype: object

In [21]:
courses["Skills"].isna().sum()

np.int64(0)

In [22]:
tfidf_matrix_skills = tfidf.fit_transform(courses["Skills"])

In [23]:
tfidf_matrix_skills.shape

(3522, 4337)

In [24]:
%%time
cosine_sim_skills = cosine_similarity(tfidf_matrix_skills, tfidf_matrix_skills)

CPU times: total: 141 ms
Wall time: 159 ms

In [25]:
cosine_sim_skills

array([[1.        , 0.        , 0.05204333, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.20061523, 0.        ,
        0.01306076],
       [0.05204333, 0.        , 1.        , ..., 0.        , 0.1787157 ,
        0.00490933],
       ...,
       [0.        , 0.20061523, 0.        , ..., 1.        , 0.        ,
        0.03178263],
       [0.        , 0.        , 0.1787157 , ..., 0.        , 1.        ,
        0.00459616],
       [0.        , 0.01306076, 0.00490933, ..., 0.03178263, 0.00459616,
        1.        ]], shape=(3522, 3522))

In [26]:
cosine_sim_skills[0, 1]

np.float64(0.0)

In [27]:
cosine_sim_skills[1, 0]

np.float64(0.0)

No similarity, the ciusine similarity is (close to) 0, aka orthogonal.

In [28]:
indices_skills = pd.Series(courses.index, index=courses["Course Name"]).drop_duplicates()

In [29]:
indices_skills[0:5]

Course Name
Write A Feature Length Screenplay For Film Or Television       0
Business Strategy: Business Model Canvas Analysis with Miro    1
Silicon Thin Film Solar Cells                                  2
Finance for Managers                                           3
Retrieve Data using Single-Table SQL Queries                   4
dtype: int64

In [30]:
get_recommendations("Write A Feature Length Screenplay For Film Or Television", cosine_sim_skills)

1451    Creative Writing: The Craft of Setting and Des...
1481    Script Writing: Write a Pilot Episode for a TV...
3462                 Creative Writing: The Craft of Style
2424                      Writing Stories About Ourselves
3005                             Writing a Personal Essay
339     Memoir and Personal Essay: Managing Your Relat...
3481                                   Transmedia Writing
535                 Writing in First Person Point of View
1629                               Write Your First Novel
3255                         So You Think You Know Tango?
Name: Course Name, dtype: object

Using the "Book Recommendation Dataset" available at kaggle ([https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset](https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset)) or on moodle, to do the following:

3. Load in the `Ratings.csv` file (on moodle, it is called `Books_Ratings.csv`). Group by `User-ID` and sort by `Book-Rating` in descending order to get the users who rated most books. Filter the rating data to only contain the 200 users that rated most books.

In [31]:
ratings = pd.read_csv("Books_Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [33]:
user_rating_count = ratings.groupby("User-ID").size() ## Num of rows pr group
user_rating_count

User-ID
2          1
7          1
8         18
9          3
10         2
          ..
278846     2
278849     4
278851    23
278852     1
278854     8
Length: 105283, dtype: int64

In [34]:
top_200_users = user_rating_count.sort_values(ascending=False).head(200).index

In [35]:
filtered_ratings = ratings[ratings["User-ID"].isin(top_200_users)]
filtered_ratings

         User-ID        ISBN  Book-Rating
4330      278418  0006128831            0
4331      278418  0006542808            5
4332      278418  0020209606            0
4333      278418  0020418809            0
4334      278418  0020420900            0
...          ...         ...          ...
1147612   275970  3829021860            0
1147613   275970  4770019572            0
1147614   275970   896086097            0
1147615   275970  9626340762            8
1147616   275970  9626344990            0

[288349 rows x 3 columns]

4. Create a Collaborative filtering recommender system based on the user ratings from 3 together with the `Books.csv` dataset.

In [36]:
books = pd.read_csv("Books.csv")
books.head(2)

C:\Users\Jacob\AppData\Local\Temp\ipykernel_21952\4187753225.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [37]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [38]:
df = books.merge(filtered_ratings, how="left", on="ISBN")
df.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414693 entries, 0 to 414692
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 414693 non-null  object
 1   Book-Title           414693 non-null  object
 2   Book-Author          414691 non-null  object
 3   Year-Of-Publication  414693 non-null  object
 4   Publisher            414691 non-null  object
 5   Image-URL-S          414693 non-null  object
 6   Image-URL-M          414693 non-null  object
 7   Image-URL-L          414690 non-null  object
 8   User-ID              270629 non-null  float64
 9   Book-Rating          270629 non-null  float64
dtypes: float64(2), object(8)
memory usage: 31.6+ MB

In [40]:
df.shape

(414693, 10)

In [41]:
df["Book-Title"].nunique()

242135

In [42]:
df["User-ID"].nunique()

200

Theres 414693 ratings by users, and they are made by the 200 users we selected before (out of 242135 unique books). However, not all books has a rating neccesarely, which we will adress:

In [43]:
df[["Book-Title","Book-Rating"]].isna().sum()

Book-Title          0
Book-Rating    144064
dtype: int64

We see that there is 144064 books that have no rating

In [44]:
df[["Book-Title","Book-Rating"]].dropna().drop(columns=["Book-Rating"]).value_counts()

Book-Title
Bridget Jones's Diary                                                                                         117
Wild Animus                                                                                                   100
The Pelican Brief                                                                                              99
Message in a Bottle                                                                                            97
The Notebook                                                                                                   93
                                                                                                             ...
Ã?Â?lpiraten.                                                                                                   1
 Deceived                                                                                                       1
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)      1
Ã?Â?stlich der Berge.                                                                                           1
 Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth                1
Name: count, Length: 115766, dtype: int64

Dropping the missing values, we see that there is 115766 books rated (by the 200 users)

We now create a new DF, containing only the User ID's, the Book titles and the Rating for the book that the user (might not) have given

In [45]:
user_rating_books_df = df[["User-ID", "Book-Title", "Book-Rating"]]

In [46]:
user_rating_books_df

,User-ID,Book-Title,Book-Rating
0,NaN,Classical Mythology,NaN
1,11676.0,Clara Callan,8.0
2,177458.0,Clara Callan,0.0
3,NaN,Decision in Normandy,NaN
4,197659.0,Flu: The Story of the Great Influenza Pandemic...,9.0
...,...,...,...
414688,NaN,There's a Bat in Bunk Five,NaN
414689,NaN,From One to One Hundred,NaN
414690,NaN,Lily Dale : The True Story of the Town that Ta...,NaN
414691,NaN,Republic (World's Classics),NaN
414692,NaN,A Guided Tour of Rene Descartes' Meditations o...,NaN

We now convert the dataset into a "user-item" matrix (wide-format). That is, each row will represent a unique user. And each column will represent a unique book title, along with the rating the user (might not, aka NaN) have given.

In [47]:
user_rating_books_df = user_rating_books_df.pivot_table(index=["User-ID"], columns=["Book-Title"], values="Book-Rating")

In [48]:
user_rating_books_df.head()

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Garfield Bigger and Better (Garfield (Numbered Paperback)),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",...,whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,Â¿Eres tu mi mamÃ¡?/Are You My Mother?,"Â¿QuÃ© me quieres, amor?","Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?stlich der Berge.
User-ID,,,,,,,,,,,,,,,,,,,,,
3363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6575.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11601.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
user_rating_books_df.shape

(200, 115766)

We are now ready to build the recommender. We take the User-iD, 7346, as a start. We get the books that user 7346 has rated:

In [50]:
user_7346_df = user_rating_books_df[user_rating_books_df.index == 7346]
user_7346_df

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Garfield Bigger and Better (Garfield (Numbered Paperback)),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",...,whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,Â¿Eres tu mi mamÃ¡?/Are You My Mother?,"Â¿QuÃ© me quieres, amor?","Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?stlich der Berge.
User-ID,,,,,,,,,,,,,,,,,,,,,
7346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
user_7346_books_rated = user_7346_df.columns[user_7346_df.notna().any()].tolist()
user_7346_books_rated

['10,000 Things to Praise God for',
 '101 Dalmatians',
 '1984',
 '36 Hour Day : A Family Guide to Caring for Person with          Alzheimer Disease',
 'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 'A CLEAR CASE OF MURDER',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'A Civil Action',
 'A Cow on the Line and Other Thomas the Tank Engine Stories (Please Read to Me)',
 'A DRAGON IN THE FAMILY : A DRAGON IN THE FAMILY',
 'A Dark Traveling',
 'A Fool for Murder: A Mystery',
 'A Girl of the Limberlost',
 'A Great Day for the Deadly',
 'A Hog on Ice and Other Curious Expressions (Harper Colophon Books)',
 'A Kiss Gone Bad',
 'A Lesson Before Dying (Vintage Contemporaries)',
 'A Light in the Window (The Mitford Years)',
 'A Little Princess',
 "A Midsummer Night's Dream",
 'A Most Contagious Game',
 'A Murderous Yarn (Needlecraft Mysteries)',
 'A Night to Remember',
 'A Nose for Murder',
 'A Pedigree to Die for',
 'A Pirate Looks at Fifty',
 'A Prayer for Owen Meany',
 'A RIVER RUNS THROUGH IT AND OTHER STORIES : AND OTHER STORIES',
 'A Rock and a Hard Place (Star Trek The Next Generation, No 10)',
 'A Short Guide to a Happy Life',
 'A Walk Across America',
 'A Widow for One Year',
 'A Wind in the Door',
 'A Wizard in a Feud',
 'A Wrinkle in Time',
 'ALL-OF-A-KIND FAMILY DOWNTOWN',
 'Absolute Power',
 'Across China',
 'Adjusted to Death',
 'Adventures of Tom Sawyer',
 'Aeneid of Virgil',
 'Agatha Raisin and the Love from Hell (An Agatha Raisin Mystery)',
 'Alf: Mission to Mars',
 'Alice-by-Accident',
 'All Creatures Great and Small',
 'All I Need to Know I Learned from My Cat',
 'All I Really Need to Know I Learned from Watching Star Trek',
 'All Things Bright and Beautiful',
 'All Things Bright and Beautiful (All Things Bright &amp; Beautiful)',
 'All the Crazy Winters',
 'Along Came a Spider (Alex Cross Novels)',
 'Amber Brown Is Not a Crayon (Amber Brown (Paperback))',
 'American Gods',
 'American Notes for General Circulation (Penguin Classics)',
 'American Way of Death',
 'An Episode of Sparrows',
 'And No Birds Sang',
 "Angela's Ashes (MMP) : A Memoir",
 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
 'Animal Farm',
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Anne of Green Gables (Bantam Starfire Book)',
 'Anne of Green Gables: Three Volumes in One',
 'Anne of Ingleside (Anne of Green Gables Novels (Paperback))',
 'Anne of Windy Poplars (Anne of Green Gables Novels (Paperback))',
 "Anne's House of Dreams",
 'Another City, Not My Own: A Novel in the Form of a Memoir',
 'Apollo 13 : Lost Moon',
 'April Fool Dead : A Death on Demand Mystery (Death on Demand Mysteries (Paperback))',
 'As You Like It (New Penguin Shakespeare S.)',
 'As You Like It (Shakespeare, William, Works.)',
 'At Home in Mitford (The Mitford Years)',
 'At the Back of the North Wind (Puffin Classics)',
 'At the Manger: The Stories of Those Who Were There',
 'Atlantis Found',
 "Attack of the Jack-O'-Lanterns (Goosebumps, 48)",
 'Attack/Killer Tomatoes PT N Mk',
 'Aunt Dimity and the Duke (Penguin Crime Fiction)',
 "Aunt Dimity's Death (Aunt Dimity (Paperback))",
 "Aunt Erma's Cope Book",
 'Auntie Mayhem (Bed-And-Breakfast Mysteries (Paperback))',
 'Babe: The Gallant Pig',
 'Babywatching',
 "Bachelor Brothers' Bed &amp; Breakfast",
 'Back to School Murder: A Lucy Stone Mystery (Lucy Stone Mysteries (Paperback))',
 'Ballerina!',
 "Beaches II: I'll Be There",
 "Been There Should'Ve Done That: 505 Tips for Making the Most of College",
 'Beezus and Ramona',
 "Beginner's Luck (Ballantine Reader's Circle)",
 'Behind the Scenes at the Museum : A Novel',
 'Bel Canto: A Novel',
 'Beyond Mulder and Scully: The Mysterious Characters of \\the X-Files\\""',
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Birthday Party Murder: A Lucy Stone Mystery (Lucy Stone Mysteries (Paperback))',
 'Black Notice',
 'Bleeding Hearts (The Gregor Demarkian Holiday Series)',
 'Blue eyeshadow should still be illegal: The world after Retin-A : what do you do now?',
 'Book of Lists',
 'Booked to Die (Cliff Janeway Novels (Paperback))',
 'Bradshaw on the Family: A Revolutionary Way of Self Discovery',
 'Bridget Jones : The Edge of Reason',
 "Bridget Jones's Diary",
 "Buzz Beamer's Out of This World Series",
 'CLAUDINE AT ST CLARES',
 'CROSSCURRENTS (NANCY DREW FILES 68) : CROSSCURRENTS (Nancy Drew Files, No 68)',
 "CUCKOO'S EGG",
 'Call of the Wild',
 'Castle Roogna #03',
 'Castle of Wizardry (The Belgariad, Book 4)',
 'Casual Day Has Gone Too Far',
 'Cat Under Fire : A Joe Grey Mystery',
 'Cats and Their Women',
 'Cave (One Small Square Series)',
 'Centaur Aisle',
 "Changing Times: The Story of a Tennessee Walking Horse and the Girl Who Proves That Grown-Ups Don't Always Know Best (Treasured Horses)",
 'Charlie and the Chocolate Factory (Puffin Novels)',
 "Charlotte's Web",
 "Charlotte's Web (Trophy Newbery)",
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Teenage Soul (Chicken Soup for the Soul)',
 'Children Learn What They Live: Parenting to Inspire Values',
 'Chocolat',
 'Chocolate Chip Cookie Murder (Hannah Swensen Mysteries (Paperback))',
 'Chocolate Chippo Hippo (Beginning Literacy Stage C)',
 'Chosen Prey',
 'Christmas Cookie Murder: A Lucy Stone Mystery (Lucy Stone Mysteries (Paperback))',
 'Christmas Spirits',
 'Christy',
 'Clear and Present Danger (Jack Ryan Novels)',
 'Coast To Coast Ghosts',
 'Cold Comfort Farm',
 'Cold Mountain : A Novel',
 'Come to Grief',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Confessions of an Ugly Stepsister : A Novel',
 'Conversations With God : An Uncommon Dialogue (Book 2)',
 'Cooking School Murders',
 'Coraline',
 'Coroner',
 'Courting Trouble',
 'Creed for the Third Millennium',
 'Crewel Lye',
 'Crewel World (Needlecraft Mysteries)',
 'Crime Brulee (Culinary Mysteries (Paperback))',
 'Crime and Punishment (Wordsworth Classics)',
 'Crocodile on the Sandbank',
 'Crossing Antarctica',
 "Crows Can't Count",
 'Crystal Line',
 'Crystal Singer',
 'DAUGHTER OF TIME',
 'Daddies: All About the Work They Do (Little Golden Books)',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Dancing On My Grave Gelsey Kirkland',
 'Dancing With Tigers',
 'Dare to Discipline',
 'Dark Place',
 'Dead Man Walking: An Eyewitness Account of the Death Penalty in the United States',
 "Dead Man's Island",
 'Dead Men Do Tell Tales: The Strange and Fascinating Cases of a Forensic Anthropologist',
 'Dead Poets Society',
 'Dead in the Melon Patch (Amanda Hazard Mysteries)',
 'Deadline for a Critic',
 'Deadly Shaker Spring (Sister Rose Callahan Mystery)',
 'Deadly Valentine',
 "Death a L'Orange",
 "Death of a Fool (St. Martin's Dead Letter Mysteries.)",
 'Death of a Party Animal (A Doonesbury book)',
 'Death of an Angel (Sister Mary Helen Mystery)',
 'Diary of a Provincial Lady (Provincial Lady)',
 'Died to Match',
 'Dilbert Fugitive From The Cubicle Police',
 'Dilbert: Seven Years Of Highly Defective People (P',
 "Dirk Gently's Holistic Detective Agency",
 'Disclosure',
 'Discourses (Penguin Classics)',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Do Unto Others',
 "Don't Say Yes When You Want to Say No : Making Life Right When It Feels All Wrong",
 'Double Crossing (Nancy Drew/Hardy Boys Super Mystery, No 1)',
 'Dr Zhivago',
 'Dr. Jekyll and Mr. Hyde',
 'Dragon Tears',
 'Dragon on a Pedestal',
 'Dragonquest',
 'Dragonsinger',
 'Dreyfus Affair : Love Story, A',
 'Drinking : A Love Story',
 'Driving Force',
 'Dying for Chocolate (Culinary Mysteries (Paperback))',
 "Edward VII's Last Loves",
 'Eight Million Ways To Die',
 'Eighth Dwarf',
 'Elegy for Iris',
 'Eli',
 'Ellen Tebbits',
 'Elusive Mrs. Pollifax',
 'Emotional Intelligence : Why It Can Matter More Than IQ',
 'Empire Falls',
 "Enchanters' End Game (The Belgariad, Book 5)",
 'Encyclopedia Brown Finds the Clues (Encyclopedia Brown (Paperback))',
 'Encyclopedia Brown Keeps the Peace (Encyclopedia Brown (Paperback))',
 'Encyclopedia Brown Saves the Day (Encyclopedia Brown (Paperback))',
 'Encyclopedia Brown Takes the Case (Encyclopedia Brown (Paperback))',
 "Encyclopedia Brown and the Case of Pablo's Nose (Encyclopedia Brown (Paperback))",
 'Encyclopedia Brown: Boy Detective (Encyclopedia Brown (Paperback))',
 'Escape from Camp Run-for-Your-Life (Give Yourself Goosebumps, No 19)',
 'Escape the Night',
 'Euripides Ten Plays',
 'Euthypro, Crito, Apology, and Symposium',
 'Eva Moves the Furniture: A Novel',
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
 'FIFTH FORMERS ST CLARES',
 'FINAL NOTES (NANCY DREW FILES 65) : FINAL NOTES (Nancy Drew Files, No 65)',
 'FIRST WIVES CLUB',
 'FUGITIVE TRAIL',
 'Face the Fire (Three Sisters Island Trilogy)',
 'Fall Of Camp A-555 (Vietnam Ground Zero, No 4)',
 'Family Picture',
 'Fatal Cure',
 'Feel the Fear and Do It Anyway',
 "Felicia's Journey",
 'Final Cut',
 'Fingersmith',
 "Finnegan's Week",
 'Fires of Spring -3',
 'Firestorm (Anna Pigeon Mysteries (Paperback))',
 'Five Patients',
 'Five Sisters : The Langhornes  of Virginia',
 'Fletch',
 'Flight of the Old Dog',
 "Flowers on My Grave: How an Ojibwa Boy's Death Helped Break the Silence on Child Abuse",
 'Fool Moon (The Dresden Files, Book 2)',
 'For Better, for Worse: A Novel',
 'For Kicks',
 "Fortune's Rocks : A Novel",
 'Four Against the Odds: The Struggle to Save Our Environment (Scholastic Biography)',
 "Four Comedies/the Taming of the Shrew/a Midsummer Night's Dream/the Merchant of Venice/Twelfth Night (Bantam Classics)",
 'Four Stupid Cupids (The Hamlet Chronicles)',
 'Four To Score (A Stephanie Plum Novel)',
 'Framed in Lace (Needlecraft Mysteries)',
 'Freaky Friday',
 'Freckles (Deluxe Illustrated Classic Series)',
 'From Beginning to End: The Rituals of Our Lives',
 "From Potter's Field",
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
 'GHOST SHIP ST TRK (Star Trek the Next Generation, Book #2)',
 'GOING FOR GOLD',
 'GREEN GROW DOLLARS',
 'Games to Keep the Dark Away',
 'Garden of Shadows (Dollanganger)',
 'Garfield Takes Up Space (Garfield, No 20)',
 'Gaudy Night',
 'Gem Of A Girl (Harlequin Romance)',
 'Gift from the Sea',
 'Gift from the sea',
 'Gigi (French language edition)',
 'Girl With a Pearl Earring',
 'Girl in Hyacinth Blue',
 'God at Eventide',
 "God's Promises for the Graduate",
 'Golem in the Gears (Xanth Novels (Paperback))',
 'Gone with the Wind',
 'Good Morning, Miss Dove',
 'Good in Bed',
 'Good-Bye to Guilt: Releasing Fear Through Forgiveness',
 'Grania: She-King of the Irish Seas',
 'Graven Images (Newbery Honor Roll)',
 'Growing Pains of Adrian Mole',
 'Gruel and Unusual Punishment: A Pennsylvania Dutch Mystery With Recipes (Pennsylvania Dutch Mysteries with Recipes (Paperback))',
 'Guards! Guards! (Discworld Novels (Paperback))',
 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
 'HOT PURSUIT (NANCY DREW FILES 58) : HOT PURSUIT (The Nancy Drew Files, Case No. 58)',
 'HOW DID I GET TO BE 40 &amp; OTHER ATROCITIES',
 'Hair of the Dog: A Melanie Travis Mystery (Melanie Travis Mystery)',
 'Hamlet',
 'Hanging by a Thread (Ferris, Monica. Needlecraft Mysteries.)',
 'Hard Time (V.I. Warshawski Novels (Paperback))',
 'Hard Times (Watermill)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 'Hawaii',
 'Hearts in Atlantis',
 'Hello Darling, Are You Working?',
 'Henry and Beezus (Henry Huggins (Paperback))',
 'Henry and Ribsy (Henry Huggins (Paperback))',
 "Henry's Awful Mistake",
 "Her Majesty's Wizard",
 'Herbal Remedy Gardens: 38 Plans for Your Health &amp; Well-Being',
 "Hidden Agendas (Tom Clancy's Net Force, No. 2)",
 'High Fidelity',
 'High Five (A Stephanie Plum Novel)',
 'High Seas Murder: A Lindy Haggerty Mystery',
 'Highland Fling',
 "Hinds' Feet on High Places",
 "Hitchhikers's Guide to the Galaxy",
 'Homecoming',
 'Hons and Rebels',
 'Hornblower #07 Flying Color',
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'House of Sand and Fog',
 'How Many Animals Down Ladybug Lane (A Little Look Around Book)',
 'How Stella Got Her Groove Back',
 'How to Fight Back and Win: The Joy of Self-Defense',
 'How to Make Good Pictures',
 'How to Murder Your Mother-In-Law',
 'How to Prepare for Your High School Reunion and Other Midlife Musings',
 'Hunger Point : A Novel',
 'Hunting Season (Anna Pigeon Novels (Paperback))',
 'I Capture the Castle',
 'I Lost Everything in the Post-Natal Depression',
 'I, Houdini: The Amazing Story of an Escape-Artist Hamster',
 'I, Trissy',
 'IF THERE BE THORN',
 'Iberia: Spanish Travels and Reflections',
 'Icy Clutches',
 "If I'd Killed Him When I Met Him (Elizabeth MacPherson Novels (Paperback))",
 'Imitation in Death (Eve Dallas Mysteries (Paperback))',
 'In Her Shoes : A Novel',
 "In a Different Voice: Psychological Theory and Women's Development",
 'In the Line of Fire: Eight Women War Spies',
 'Independence Day',
 'Indian Trail',
 'Interview with the Vampire',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'Into the Dark for Gold',
 'Irish Stew! (Nuala McGrail Mystery)',
 'Island of the Blue Dolphins (Laurel Leaf Books)',
 'It Was on Fire When I Lay Down on It',
 "It's Always Something",
 'JOSHUA',
 'JOURNEY INTO DARKNESS (Lisa Drew Books (Paperback))',
 'Jacob Have I Loved',
 "James Herriot's Dog Stories",
 'Jane Austen: A Life',
 'Jelly Belly',
 "Jewel (Oprah's Book Club)",
 'Joshua',
 'Journey to the Centre of the Earth (Puffin Classics)',
 'Junie B. Jones and Her Big Fat Mouth (Junie B. Jones 3, paper)',
 'Jurassic Park',
 "KB IRELAND'99:INNS&amp;ITIN (Karen Brown's Country Inns Series)",
 "Karen's Little Witch (Baby-Sitters Little Sister, 22)",
 'Killashandra',
 'Killer Dolphin',
 'Killing Orders',
 'Kilmeny of the Orchard (Bantam Classics)',
 'King Arthur and the Knights of the Round Table (Illustrated Classics Editions)',
 "King Solomon's Mines (Puffin Classics)",
 'Kiss the Girls',
 'Kit Carson Scout (Vietnam Ground Zero, No 6)',
 'Kitchen',
 'Lady Molly of Scotland Yard',
 "Lady's Maid",
 'Lake Wobegon days',
 "Laurel's Kitchen: A Handbook for Vegetarian Cookery and Nutrition",
 'Lavender Lies: A China Bayles Mystery (Prime Crime Mysteries)',
 'Lazaris the Sacred Journey: You and Your Higher Self',
 'Leaving Home',
 'Legally Blonde',
 'Les Liaisons Dangereuses',
 'Les Miserables (Enriched Classics)',
 "Let's Get Invisible! (Goosebumps, No 6)",
 'Liberty Falling (Anna Pigeon Mysteries (Paperback))',
 "Life 101: Everything We Wish We Had Learned About Life in School--But Didn't (The Life 101 Series)",
 "Life 101: Everything We Wish We Had Learned in High School-But Didn't",
 "Life Messages: Inspiration For The Woman's Spirit",
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
 'Lion in the Valley',
 'Little Drummer Girl',
 'Little Women',
 'Little Women (Illustrated Junior Library)',
 'Living without losing: A practical guide to successful living',
 "Lord Foulgrin's Letters",
 'Lord God Made Them All',
 'Lord of the Dance',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 "Love, Medicine and Miracles : Lessons Learned about Self-Healing from a Surgeon's Experience with Exceptional Patients",
 'Lovely in Her Bones',
 "Lucifer's Hammer",
 'Lucifers Hammer',
 'Lucky : A Memoir',
 'MAN IN QUEUE',
 'MANY WATERS',
 'MISS PYM DISPOSES',
 'MOONLIGHT BECOMES YOU',
 'MOVING TARGET (NANCY DREW FILES 87) : MOVING TARGET (Nancy Drew Files (Paperback))',
 'MURDER COMES 1ST (Mr. &amp; Mrs. North Mystery)',
 'MURDER MAKE WHEELS',
 'MYSTERY OF THE JADE TIGER (NANCY DREW 104) : MYSTERY OF THE JADE TIGER',
 'Macbeth',
 'Macbeth (Bantam Classics)',
 'Macv (Vietnam Ground Zero, No 19)',
 'Madeline',
 'Malice Domestic  7 (Malice Domestic (Paperback))',
 'Man Called Intrepid',
 'Man from Mundania (Xanth Trilogy, No 12)',
 'Man of the House',
 'Massage and Meditation',
 'Matilda',
 'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
 'Menopaws: The Silent Meow',
 'Mere Christianity: A revised and enlarged edition, with a new introduction, of the three books, The case for Christianity, Christian behaviour, and Beyond personality',
 'Metropolitan Life',
 'Michelle Kwan Autobiography',
 'Midnight',
 'Midwives: A Novel',
 "Millie's Book: As Dictated to Barbara Bush",
 'Mind Prey',
 'Mindbend',
 'Mine Eyes Have Seen',
 'Mint Julep Murder',
 'Misery',
 "Miss Fannie's Hat (Picture Puffins)",
 "Miss Fiona's Fancy (Signet Regency Romance)",
 'Miss Julia Hits the Road (Southern Comedy of Manners)',
 'Miss Julia Throws a Wedding',
 'Miss Melville Regrets',
 'Miss Melville Returns',
 'Miss Melville Rides a Tiger',
 "Miss Melville's Revenge",
 "Miss Seeton Paints the Town (Heron Carvic's Miss Seeton)",
 'Miss Seeton by Moonlight',
 'Miss Silver Comes to Stay',
 'Miss Silver Deals With Death: A Miss Silver Mystery',
 'Mistletoe Murder: A Lucy Stone Mystery (Lucy Stone Mysteries (Paperback))',
 'Mitch and Amy',
 'Moment of Truth',
 'Monster Blood (Goosebumps, No 3)',
 'More Cats in the Belfry',
 'More Than a Carpenter',
 'Moreta: Dragonlady of Pern',
 'Mountains of Spices',
 'Moving Violations : War Zones, Wheelchairs, and Declarations of Independence',
 'Mr. Death and the Redheaded Woman (A Star &amp; elephant book)',
 'Mrs. Jeffries Pinches the Post',
 'Mrs. Jeffries Takes the Cake',
 "Mrs. Piggle-Wiggle's Magic",
 'Mrs. Pollifax Pursued (Mrs. Pollifax Mysteries (Paperback))',
 'Mrs. Pollifax Unveiled (Mrs. Pollifax Mysteries (Paperback))',
 'Murder Carries a Torch : A Southern Sisters Mystery (Southern Sisters Mysteries (Paperback))',
 'Murder Gets a Life: : A Southern Sisters Mystery (Southern Sisters Mysteries (Paperback))',
 'Murder Pluperfect (Walker British Mystery Series)',
 'Murder Shoots the Bull : A Southern Sisters Mystery (Southern Sisters Mysteries (Paperback))',
 'Murder at the Cat Show (A Perkins &amp; Tate Mystery)',
 'Murder at the Kennedy Center (Capital Crime Mysteries)',
 'Murder at the National Cathedral (Capital Crime Mysteries)',
 'Murder in Georgetown (Capital Crime Mysteries)',
 'Murder in the CIA (Capital Crime Mysteries)',
 'Murder in the House (Capital Crime Series , No 13)',
 'Murder in the White House',
 'Murder on a Bad Hair Day: A Southern Sisters Mystery',
 'Murder, Mayhem And Mistletoe',
 'Murdering Mr. Monti: A Merry Little Tale of Sex and Violence',
 'Mutation',
 'My Enemy the Queen',
 'My First Book of Opposites',
 'My Wild World',
 'My Year of Meats',
 'Mysteries (Mystery)',
 'Mysteries of the Mind and the Senses (Strange Unsolved Mysteries, No 8)',
 'Mystery Cats',
 'Mystery of the Tolling Bell (Nancy Drew Mystery Stories, No 23)',
 'N Is for Noose',
 "NOBODY'S BUSINESS: NANCY DREW FILES #67 (Nancy Drew Files, No 67)",
 "Naked in Baghdad: The Iraq War as Seen by NPR's Correspondent Anne Garrels",
 'Naked in Death',
 "Nancy Drew's Guide to Life (Running Press Miniature Editions (Paperback))",
 'Native Speaker',
 'Nerd in Shining Armor',
 'Nickel and Dimed: On (Not) Getting By in America',
 'Nicolae: The Rise of Antichrist (Left Behind No. 3)',
 'Night Mare #06',
 'Night Prey',
 'Night of the Living Dummy (Goosebumps, No 7)',
 'No Ordinary Genius: The Illustrated Richard Feynman',
 'Not a Penny More 4',
 'Not a Penny More, Not a Penny Less',
 'Nothings Fair in the Fifth Grade',
 'Now We Are Six',
 'O Come Ye Back to Ireland: Our First Year in County Clare',

In [52]:
len(user_7346_books_rated)

972

We see that our user has rated 883 books

We now create a new DF consisting of only the books that our user has rated. We will use this to look for similar users

In [53]:
books_rated_df = user_rating_books_df[user_7346_books_rated]

In [54]:
books_rated_df

Book-Title,"10,000 Things to Praise God for",101 Dalmatians,1984,36 Hour Day : A Family Guide to Caring for Person with Alzheimer Disease,A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper)),A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,A CLEAR CASE OF MURDER,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Cow on the Line and Other Thomas the Tank Engine Stories (Please Read to Me),...,Wondrous Beginnings,"Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players",Working Woman's Art of War: Winning Without Confrontation,Working Wounded: Advice That Adds Insight to Injury,Wouldn't It Be Nice?: My Own Story,Wuthering Heights (The World's Classics),Xanth 13: Isle of View,Xanth 14: Question Quest,Xanth 15: The Color of Her Panties,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
3363.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6251.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6575.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7346.0,8.0,10.0,8.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,6.0,6.0,6.0,8.0
11601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271284.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274061.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,10.0,NaN
274308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
books_rated_df.shape

(200, 972)

To find similarity, we want to calculate how many books the other users have rated in regards to the selected books for user_7346

Here we transpose the books_rated_df. The columns becomes the rows and the rows becomes the columns. In other words: Each Book_title will be a row, and each column will be the userId and their rating for the book (if any). We get the .sum() of .notnull(): That is we get the number of non-NaN ratings for each user.

In [56]:
user_book_count = books_rated_df.T.notnull().sum()

In [57]:
user_book_count

User-ID
3363.0       57
6251.0       70
6575.0       82
7346.0      972
11601.0      82
           ...
271284.0     40
274061.0     26
274308.0     62
275970.0     43
278418.0     82
Length: 200, dtype: int64

Resetting index, and giving column names. This makes it easier to look interpret:

In [58]:
user_book_count = user_book_count.reset_index()
user_book_count.columns = ["User-ID", "book_count"]
user_book_count

      User-ID  book_count
0      3363.0          57
1      6251.0          70
2      6575.0          82
3      7346.0         972
4     11601.0          82
..        ...         ...
195  271284.0          40
196  274061.0          26
197  274308.0          62
198  275970.0          43
199  278418.0          82

[200 rows x 2 columns]

We now filter away those user that has rated less than 20% of the books that our user 7346 has rated. User 7346 has a high number of rated books, thus we select a low "similarity score" of 15%. Ideally this would be set way higher, eg. at 70%. For now we stick with this value

In [63]:
user_same_books = user_book_count[user_book_count["book_count"] > (len(user_7346_books_rated)*15)/100]["User-ID"]
user_same_books

3        7346.0
5       11676.0
25      35859.0
137    198711.0
Name: User-ID, dtype: float64

The above shows us the userids (as the col) that have rated 15% or more of the same books as user 7346 has

We create a new DF consisting of the ratings of the users that satisfied the similarity as above

In [66]:
final_df = books_rated_df[books_rated_df.index.isin(user_same_books)]
final_df

Book-Title,"10,000 Things to Praise God for",101 Dalmatians,1984,36 Hour Day : A Family Guide to Caring for Person with Alzheimer Disease,A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper)),A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,A CLEAR CASE OF MURDER,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Cow on the Line and Other Thomas the Tank Engine Stories (Please Read to Me),...,Wondrous Beginnings,"Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players",Working Woman's Art of War: Winning Without Confrontation,Working Wounded: Advice That Adds Insight to Injury,Wouldn't It Be Nice?: My Own Story,Wuthering Heights (The World's Classics),Xanth 13: Isle of View,Xanth 14: Question Quest,Xanth 15: The Color of Her Panties,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
7346.0,8.0,10.0,8.000000,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,6.0,6.0,6.0,8.0
11676.0,NaN,NaN,3.333333,NaN,0.0,0.0,NaN,0.0,3.5,NaN,...,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5
35859.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198711.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We now want to calculate the correlation between the users. We need to transpose the DF, as .corr() is calculating the correlation between columns.

In [ ]:
example_df = final_df.T ##Showcasing the transposed df, as an example. 
example_df

User-ID,7346.0,11676.0,35859.0,198711.0
Book-Title,,,,
"10,000 Things to Praise God for",8.0,NaN,NaN,NaN
101 Dalmatians,10.0,NaN,NaN,0.0
1984,8.0,3.333333,NaN,NaN
36 Hour Day : A Family Guide to Caring for Person with Alzheimer Disease,0.0,NaN,NaN,NaN
A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper)),7.0,0.000000,NaN,NaN
...,...,...,...,...
Wuthering Heights (The World's Classics),7.0,NaN,NaN,NaN
Xanth 13: Isle of View,6.0,NaN,NaN,NaN
Xanth 14: Question Quest,6.0,NaN,NaN,NaN
Xanth 15: The Color of Her Panties,6.0,NaN,NaN,NaN
"\O\"" Is for Outlaw""",8.0,3.500000,NaN,NaN

Transposing and doing the correlation:

In [112]:
corr_df = final_df.T.corr()
corr_df

User-ID   7346.0    11676.0   35859.0   198711.0
User-ID
7346.0    1.000000 -0.056281 -0.043172       NaN
11676.0  -0.056281  1.000000 -0.095168       NaN
35859.0  -0.043172 -0.095168  1.000000       NaN
198711.0       NaN       NaN       NaN       NaN

As expected, the correlation is quite bad

We now make a new DF which shows the correlation of the selected users, in regards to user 7346:

In [ ]:
user_corr = corr_df[7346].reset_index() ##Resetting index, turning the correlation matrix from a series to a dataframe
user_corr

    User-ID    7346.0
0    7346.0  1.000000
1   11676.0 -0.056281
2   35859.0 -0.043172
3  198711.0       NaN

In [ ]:
user_corr = user_corr.rename(columns={7346: "correlation"}) ##Renaming column "7346", so it instead is called correlation
user_corr

    User-ID  correlation
0    7346.0     1.000000
1   11676.0    -0.056281
2   35859.0    -0.043172
3  198711.0          NaN

In [127]:
user_corr = user_corr.sort_values(by="correlation", ascending=False)
user_corr

    User-ID  correlation
0    7346.0     1.000000
2   35859.0    -0.043172
1   11676.0    -0.056281
3  198711.0          NaN

In [128]:
user_corr = user_corr.loc[user_corr["User-ID"] != 7346]
user_corr

    User-ID  correlation
2   35859.0    -0.043172
1   11676.0    -0.056281
3  198711.0          NaN

In [129]:
user_corr = user_corr.reset_index(drop=True)
user_corr

    User-ID  correlation
0   35859.0    -0.043172
1   11676.0    -0.056281
2  198711.0          NaN

The above is now a sorted correlation matrix, that shows correlation between the selected users and user 7346 (where user 7346 is excluded)

We now merge the correlation df with the ratings df, giving us the correlated users, alongside the ISBN and their rating for that particular book. We use inner join as we only want to users that are present in both dataframes, to be included in the final result

In [131]:
top_users_ratings = user_corr.merge(ratings[["User-ID", "ISBN", "Book-Rating"]], how="inner")
top_users_ratings

        User-ID  correlation        ISBN  Book-Rating
0       35859.0    -0.043172  0004722124           10
1       35859.0    -0.043172  0006543936            0
2       35859.0    -0.043172  0006547230            0
3       35859.0    -0.043172  0007101937            0
4       35859.0    -0.043172  0020186002            0
...         ...          ...         ...          ...
26997  198711.0          NaN  8511839102            0
26998  198711.0          NaN  9307166813            0
26999  198711.0          NaN  9590624067            0
27000  198711.0          NaN  9631172937            0
27001  198711.0          NaN  9641930266            0

[27002 rows x 4 columns]

Here we create the weighted ratings. More similar users and higher ratings will give us higher weighted ratings. In other words, the weighted rating helps us prioritize ratings of the users who are more similar to the input user.

In [132]:
top_users_ratings["weighted_rating"] = top_users_ratings["correlation"] * top_users_ratings["Book-Rating"]
top_users_ratings

        User-ID  correlation        ISBN  Book-Rating  weighted_rating
0       35859.0    -0.043172  0004722124           10        -0.431723
1       35859.0    -0.043172  0006543936            0        -0.000000
2       35859.0    -0.043172  0006547230            0        -0.000000
3       35859.0    -0.043172  0007101937            0        -0.000000
4       35859.0    -0.043172  0020186002            0        -0.000000
...         ...          ...         ...          ...              ...
26997  198711.0          NaN  8511839102            0              NaN
26998  198711.0          NaN  9307166813            0              NaN
26999  198711.0          NaN  9590624067            0              NaN
27000  198711.0          NaN  9631172937            0              NaN
27001  198711.0          NaN  9641930266            0              NaN

[27002 rows x 5 columns]

We now calculate the mean weighted rating for all books. This final weighted rating can be regarded as how much the book is to be considered recommended for the input user

In [139]:
recommendation_df = top_users_ratings.groupby("ISBN").agg({"weighted_rating": "mean"}).sort_values(by = "weighted_rating", ascending = False)
recommendation_df = recommendation_df.reset_index() ## reset index, so that ISBN is not the index anymore
recommendation_df

                ISBN  weighted_rating
0         O805063196              0.0
1         O77O428452              0.0
2      0 7336 1053 6              0.0
3         9997511417              0.0
4         9993763128              0.0
...              ...              ...
24710     8467003995              NaN
24711     8511839102              NaN
24712     9590624067              NaN
24713     9631172937              NaN
24714     9641930266              NaN

[24715 rows x 2 columns]

In [140]:
books_to_be_recommended = recommendation_df.merge(books[["ISBN", "Book-Title"]], on="ISBN")
books_to_be_recommended = books_to_be_recommended.head()
books_to_be_recommended

,ISBN,weighted_rating,Book-Title
0,9997511417,0.0,A Bundle for the Toff
1,9993763128,0.0,Star Wars: From the Adventures of Luke Skywalker
2,9871138016,0.0,Cronica De Una Muerte Anunciada
3,0003252477,0.0,A midsummer night's dream; (The Alexander Shak...
4,000617891X,0.0,At the Stroke of Twelve

# Not same result exactly, as some books dont have a book-title but only a ISBN

In [142]:
books.nunique()

ISBN                   271360
Book-Title             242135
Book-Author            102022
Year-Of-Publication       202
Publisher               16807
Image-URL-S            271044
Image-URL-M            271044
Image-URL-L            271041
dtype: int64

Now creating recommender function:

In [ ]:
def user_based_recommender(input_user, user_rating_books_df, rate_ratio=0.70, num_recommendations=5):

    input_user_df = user_rating_books_df[user_rating_books_df.index == input_user]
    input_user_books_rated = input_user_df.columns[input_user_df.notna().any()].tolist()

    books_rated_df = user_rating_books_df[input_user_books_rated]


    user_book_count = books_rated_df.T.notnull().sum()
    user_book_count = user_book_count.reset_index()
    user_book_count.columns = ["User-ID", "book_count"]

    user_same_books = user_book_count[user_book_count["book_count"] > (len(input_user_books_rated)*rate_ratio)]["User-ID"]


    final_df = books_rated_df[books_rated_df.index.isin(user_same_books)]
    corr_df = final_df.T.corr()


    user_corr = corr_df[input_user].reset_index()
    user_corr = user_corr.rename(columns={input_user: "correlation"})
    user_corr = user_corr.sort_values(by="correlation", ascending=False)
    user_corr = user_corr.loc[user_corr["User-ID"] != input_user]
    user_corr = user_corr.reset_index(drop=True)


    top_users_ratings = user_corr.merge(ratings[["User-ID", "ISBN", "Book-Rating"]], how="inner")
    top_users_ratings["weighted_rating"] = top_users_ratings["correlation"] * top_users_ratings["Book-Rating"]


    recommendation_df = top_users_ratings.groupby("ISBN").agg({"weighted_rating": "mean"}).sort_values(by = "weighted_rating", ascending = False)
    recommendation_df = recommendation_df.reset_index()


    books_to_be_recommended = recommendation_df.merge(books[["ISBN", "Book-Title"]], on="ISBN")
    books_to_be_recommended = books_to_be_recommended.head(num_recommendations)

    return books_to_be_recommended["Book-Title"]

In [160]:
user_based_recommender(6575, user_rating_books_df, 0.25)

0           Three's a Crowd (Sweet Valley Twins, No 7)
1    Encyclopedia Brown: Boy Detective (Encyclopedi...
2    David Letterman's Book of Top Ten Lists and Ze...
3                               Hawk O'Toole's Hostage
4                                         Miracle Cure
Name: Book-Title, dtype: object

## Exercise 2

Using the "Coursera Courses Dataset 2021" from Exercise 1, to do the following:

1. [Optional] Create a Content-based filtering recommender system based on both the Course Descriptions and the Skills.
2. [Optional] Can you come up with a way of including Difficulty Level and Course Rating in your recommender system?